@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,400&family=Roboto+Mono:wght@400;700&display=swap');

:root {
  --primary-color: #048A81;
  --secondary-color: #52FFB8;
  --accent-color: #F78154;
  --white: #eef3ee;
  --black: #37393A;
  --title-font: 'Nunito', sans-serif;
  --para-font: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
  color: var(--black);
}

.text-highlight {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 1.2em;
}

header {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid var(--primary-color);
}

nav a {
  font-family: var(--title-font);
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 1rem;
  color: var(--black);
  transition: 0.3s;
}

nav a:hover {
  color: var(--primary-color);
}

nav a:last-of-type {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 100px;
  transition: 0.3s;
}

nav a:last-of-type:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.hero {
  background: url(../images/Hero_Background.jpg) no-repeat center, #ffffff70; /* fix */
  background-blend-mode: lighten;
  background-size: cover;
}

.hero .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 300px 0;
}

.hero h1 {
  font-family: var(--title-font);
  font-size: 3rem;
}

.hero p {
  font-family: var(--para-font);
  font-size: 1.5rem;
}

.profile-frame img {
  width: 500px;
  max-width: 100%;
  border-radius: 50%;
}

.about {
  background-color: var(--primary-color);
}

.about .container {
  padding: 100px 0 200px 0;
  color: var(--white);
}

.about h2,
.showcase h2,
.get-in-touch h2 {
  margin: 0;
  margin-bottom: 2rem;
  font-family: var(--title-font);
  font-size: 2rem;
  text-align: center;
}

.about p,
.skills h3+p,
.showcase h2+p,
.get-in-touch p {
  font-family: var(--para-font);
  font-size: 1.1rem;
}

.about p {
  text-align: center;
}

.skills-and-showcase {
  background-color: var(--white);
}

.skills .container {
  border-radius: 15px;
  position: relative;
  top: -100px;
  background-color: var(--white);
  box-shadow: var(--secondary-color) 0 0 10px;
}

.skills-grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.skills-icon {
  width: 100px;
  height: 100px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-icon i {
  font-size: 2rem;
  color: var(--primary-color);
}

.skills-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 10%;
}

.skills-grid-item:nth-of-type(2) {
  border-left: 2px solid var(--secondary-color);
  border-right: 2px solid var(--secondary-color);
}

.skills h3, 
.skills h4,
.showcase-group h3{
  font-family: var(--title-font);
  font-size: 1.5rem;
  margin: 3rem 0;
}

.skills h4 {
  color: var(--primary-color);
  margin: 3rem 0 2rem 0;
}

.skills h4::before,
.skills h4::after {
  content: ' --- ';
}

.skills ul {
  padding: 0;
}

.skills li {
  font-family: var(--para-font);
  list-style-type: none;
  font-size: 1.1rem;
  padding: 0.5rem 0;
}

a[href^="mailto:"] {
  color: var(--accent-color);
  transition: 0.3s;
}

a[href^="mailto:"]:hover {
  color: var(--primary-color);
}

.showcase-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
}

.showcase p {
  text-align: center;
}

.gallery {
  display: flex;
}

.gallery-item {
  width: 33.3%;
  padding: 10px;
  position: relative;
}

.gallery-item img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: var(--primary-color) 0 0 10px;
}

.showcase {
  padding-bottom: 160px;
}

.showcase-group h3 {
  text-align: center;
  margin-top: 60px;
}

.gallery-item-desc {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  opacity: 0;
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 0.5s;
}

.gallery-item-desc h4,
.gallery-item-desc a {
  margin-top: 0;
  font-family: var(--title-font);
  color: var(--white);
  font-size: 1.5rem;
}

.gallery-item-desc a {
  background-color: var(--accent-color);
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.gallery-item:hover .gallery-item-desc {
  visibility: visible;
  opacity: 0.9;
}

.get-in-touch,
footer {
  background-color: var(--black);
}

.get-in-touch .container {
  color: var(--white);
  background-color: var(--primary-color);
  position: relative;
  top: -60px;
  padding: 50px 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.get-in-touch h2 {
  margin: 0;
}

.get-in-touch a {
  font-family: var(--para-font);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--accent-color);
  padding: 15px 30px;
  border-radius: 10px;
  transition: 0.3s;
}

.get-in-touch a:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

footer .container {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.footer-logo img {
  width: 180px;
  margin-bottom: 30px;
}

.slogan p {
  font-family: var(--para-font);
  font-size: 1.5rem;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.social a {
  margin: 0 20px;
}

.social-icon {
  width: 50px;
  height: 50px;
  border: 2px solid var(--white);
  border-radius: 50%;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon:hover {
  border: 2px solid var(--secondary-color);
}

.social-icon i {
  font-size: 1.5rem;
}

.social-icon:hover i {
  color: var(--secondary-color);
}

.copyright {
  font-family: var(--para-font);
}

.copyright span {
  color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
.gallery {
  flex-direction: column;
}

.gallery-item {
  width: 100%;
}

.get-in-touch .container {
  flex-direction: column;
}

.get-in-touch p {
  margin: 40px 0;
}

.skills-grid-box {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.skills-grid-item:nth-of-type(2) {
  border-top: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  border-left: 0;
  border-right: 0;
}
}

@media screen and (max-width: 600px){
  header .container {
    flex-direction: column;
  }

  nav {
    padding-top: 40px;
  }

  .hero .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero img {
    margin-top: 50px;
  }
}